.nav_box{
	margin-left:7px;
}
.middle_low_T{
	margin-bottom:-4px;
}
.middle_des_box_T{
	margin-bottom:-2px;s
}
.search_list_textfield{
	margin-top:0px;
}
.mini_slideshow_box_T{
	margin-bottom:-1px;
}
.middle_short_text{
	margin-left:22px;
	margin-right:28px;
}